.App {
  /* text-align: center; */
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#opcje {
  position: relative;
  float: right;
}

#logowanie {
  position: relative;
  float: right;
}

.theme-light {
  background-color: white; /* Białe tło dla jasnego motywu */
  color: black; /* Czarny tekst dla jasnego motywu */
}

.theme-dark {
  background-color: #0a581f; /* Ciemne tło dla ciemnego motywu */
  color: rgb(255, 255, 255); /* Biały tekst dla ciemnego motywu */
}